* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000000;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: rgba(255, 255, 255, 0.3);
}
header.sticky {
  background: rgba(255, 255, 255, 0.3);
}
header:hover {
  background: rgba(255, 255, 255, 0.9);
}
header img {
  border-radius: 10px;
}
.logo {
  flex: 1;
}
/* .logo,
.menu,
.others {
  position: fixed;
} */
.menu {
  flex: 2;
  display: flex;
  /* position: fixed; */
}
.menu > li {
  padding: 0 12px;
  position: relative;
}
.menu li a {
  padding: 20px 0;
}
.menu > li:hover .sub-menu {
  visibility: visible;
  position: absolute;
  top: 30px;
  border-radius: 10px;
}
.sub-menu {
  /* position: fixed; */
  position: absolute;
  width: 150px;
  border-radius: 2px solid #b15982;
  padding: 10px 0 10px 20px;
  visibility: hidden;
  top: 50px;
  transition: 0.3s;
  line-height: 4px;
}

.sub-menu li ul a {
  font-weight: normal;
  font-size: 12px !important;
  line-height: 5px;
  position: relative;
  /* border-radius: 10px; */
  /* border-bottom: 1px solid #bb2a2a; */
}

.sub-menu ul a {
  padding: 10px;
  line-height: 4px;
}
.menu li a {
  font-size: 12px;
  font-weight: bold !important;
  display: block;
  /* line-height: 5px; */
  /* background-color: rgb(255, 255, 255); */
  border-radius: 10px;
}
.others {
  flex: 1;
  display: flex;
  padding: 15px 0;
}
.others > li {
  padding: 0 7px;
  display: flex;
}
.others > li::after {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background: #cccccc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.others > li::last-chold::after {
  display: none;
}
.others > li > img {
  /* padding: 2px; */
  width: 22px;
  height: 25px;
  border-radius: 10px;

  box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 4px 1px rgb(0 0 0 / 9%);
  /* border-radius: 6px; */
  /* border-left: 1px solid transparent; */
  /* border-right: none; */
  /* border-top: 1px solid transparent; */
  /* border-bottom: 1px solid transparent; */
}

.others > li:first-child input {
  width: 200%;
  border: none;
  border-bottom: 1px solid #ff0000;
  height: 25px;
  border-radius: 10px;
  line-height: 5px;
  background: transparent;
}
.others > li:first-child i {
  position: absolute;
  left: 1px;
}
/* .img-responsive-wrap {
  position: relative;
  height: 0;
  padding-bottom: 60%;
} */

/* .img-responsive-wrap .img-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
}

.img-responsive-wrap .img-inner img {
  display: none;
} */
.slide-contener {
  display: block;
  position: relative;
  padding-top: 56.25%;
  transition: all 0.3s ease;
}
.slide-contener img {
  padding-top: 70px;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* .app-container,
.sub-menu {
  position: absolute;
} */
.sub-menu {
  z-index: 2;
  background-color: beige;
}
.app-container {
  z-index: 1;
}

/*-----------------------------------app-----------------------------------*/

.app-container {
  text-align: center;
  align-items: center;
  padding: 150px 0 50px 0;
}
.app-google {
  margin: 50px;
}

.app-google img {
  height: 50px;
}
.app-container p {
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 17px;
  color: #000000;
  font-weight: bold;
}

.app-container input {
  margin-top: 50px;
  border: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
  width: 400px;
  text-align: center;
}

/* ----------------------------footer-------------------------------- */

.fooder-top {
  text-align: center;
}
.fooder-top {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 70px;
  padding: 150px 0 50px 0;
}
.fooder-top li {
  padding: 0 12px;
  position: relative;
}

/* -------------------------------footer-center----------------------------------------- */
.footer-center {
  text-align: center;
  /* line-height: normal; */
}

/* ------------------------------category---------------------------------- */
:root {
  --main-text-font: Arial, Helvetica, sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.cartegory {
  padding: 100px 0 0;
}
.cartegory-top {
  margin-bottom: 10px;
}
.cartegory-top p {
  font-family: var(--main-text-font);
  margin: 0 12px;
  font-size: 12px;
}
.cartegory-left {
  width: 20%;
  padding-top: 30px;
  padding-left: 20px;

  /* flex: 2; */
}

.cartegory-right {
  width: 80%;
  padding-right: 20px;
  display: flex;
  padding-left: 15%;
  display: inline-flex;
  /* /* /* flex: 1;  */
  padding: 50px 0 0 0;
}

.cartegory-right-top-item:first-child {
  flex: 2;
  font-size: 16px;
  font-family: var(--main-text-font);
  font-weight: bold;
}
.cartegory-right-top-item {
  flex: 1;
  padding: 0 12px;
}

.cartegory-right-top-item button {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  border: 1px solid #cccccc;
  cursor: pointer;
  border-radius: 3px;
}
.cartegory-right-top-item select {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  border: 1px solid #cccccc;
  cursor: pointer;
  border-radius: 3px;
}

.cartegory-right-content {
  margin-top: 20px;
  justify-content: space-between;
  /* display: flex; */
}
.cartegory-right-content-item {
  width: calc(23% - 12px);
  text-align: center;
  padding: 12px 0;
}
/* .cartegory-right-content img {
  width: 30%;
  height: 40%;
  display: block;
} */
.cartegory-right-content-item h1 {
  font-size: 11px;
  font-family: var(--main-text-font);
  margin-top: 6px;
  color: #cccccc;
}
.cartegory-right-content-item p {
  font-size: 10px;
}

.cartegory-right-bottom {
  justify-content: space-between;
  margin: 30px 0 20px;
  width: 100%;
}
.cartegory-right-bottom p {
  font-family: var(--main-text-font);
  font-size: 11px;
}

.cartegory-left ul li {
  padding: 12px 0;
}
.cartegory-left ul li a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--main-text-font);
}
.cartegory-left ul li ul li {
  padding-left: 10px;
}
.cartegory-left ul li ul {
  display: none;
}
.cartegory-left-li.block ul {
  display: block;
}
.cartegory-left ul li ul li a {
  color: #333;
  font-size: 12px;
}

/* ---------------------------------product------------------------------- */
.product {
  padding: 100px 0;
}
.product-top {
  margin-bottom: 30px;
}
.product-top p {
  font-family: var(--main-text-font);
  margin: 0 12px;
  /* display: inline; */
  font-size: 12px;
}
.product-content-left {
  width: 50%;
  padding-left: 20px;
}
.product-content-right {
  width: 50%;
  padding-left: 20px;
}
.product-content-left-big-img {
  width: 80%;
  padding-right: 20px;
}
.product-content-left-big-img img {
  width: 100%;
}
.product-content-left-small-img {
  width: 20%;
}
.product-content-left-small-img img {
  width: 100%;
  cursor: pointer;
}
.product-content-right-bottom-name h1 {
  font-family: var(--main-text-font);
  font-size: 16px;
}
.product-content-right-product-name p {
  color: #cb4242;
  font-size: 12px;
}
.product-content-right-product-price {
  margin: 12px 0;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--main-text-font);
}
.product-content-right-product-color img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.product-content-right-product-color-img {
  height: 40px;
  width: 40px;
  border: 1px solid #391313;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
}

.size span {
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid #b15982;
  margin: 12px 10px 12px 0;
  font-size: 12px;
  cursor: pointer;
}

.quanlity input {
  width: 35px;
  padding-left: 3px;
}

.product-content-right-product-buttom button {
  width: 150px;
  height: 40px;
  display: block;
  margin: 20px 0 12px;
  transition: all 0.3s ease;
}
.product-content-right-product-buttom:first-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(64, 121, 171);
  border: 2px solid #000000;
  cursor: pointer;
}
.product-content-right-product-buttom:first-child:hover {
  background-color: #ec0000;
  color: rgb(0, 136, 255);
}

.product-content-right-product-buttom:last-child {
  border: 2px solid #bf8a49;
  color: #bf8a49;
  background-color: #ff0000;
  cursor: pointer;
}
.product-content-right-product-icon {
  display: flex;
}
.product-content-right-product-icon-item {
  display: flex;
  margin-right: 12px;
  justify-content: center;
  align-items: center;
}
.product-content-right-product-icon-item i {
  font-size: 12px;
  margin-right: 6px;
}
.product-content-right-product-qr {
  margin: 20px 0;
}

/* ----------------------------Thông số-------------------- */
.product-content-right-bottom {
  padding-top: 40px;
  border: 1px solid #dddddd;
  position: relative;
}
.product-content-right-bottom-top {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  top: -15px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
}

.product-content-right-bottom-content-title {
  border-bottom: 2px solid #dddddd;
}
.product-content-right-bottom-content-title-item {
  padding: 6px;
  cursor: pointer;
  margin-right: 6px;
}
.product-content-right-bottom-content-title-item p {
  font-family: var(--main-text-font);
  font-size: 12px;
}
.product-content-right-bottom-content {
  padding-top: 30px;
}
.product-content-right-bottom-content p {
  font-family: var(--main-text-font);
  font-size: 12px;
  padding-left: 10px;
}

.product-content-right-bottom-content-baoquan {
  padding-top: 30px;
}
.activeB {
  display: none;
}
/* ----------------product-relate---------------------- */
.product-related {
  margin-bottom: 50px;
}
.product-related-title {
  margin: 20px 0;
}
.product-related-title p {
  font-family: var(--main-text-font);
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}
.product-related-item {
  /* width: calc((100% - 50px) / 5); */
  width: 20%;
  text-align: center;
  padding: 0 6px;
}
.product-related-item img {
  width: 100%;
}
.product-related-item h1 {
  font-family: var(--main-text-font);
  font-size: 11px;
  color: #333333;
  margin-top: 6px;
}
.product-related-item p {
  font-size: 12px;
  text-decoration: line-through;
}

/* ----------------------------------cart----------------------------- */

.cart {
  padding: 100px 0;
}
.cart-top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-top {
  height: 2px;
  width: 70%;
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 100px;
}
.cart-top-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.cart-top-item i {
  color: #dddddd;
}
.cart-top-cart {
  border: 1px solid #cb4242;
}
.cart-top-cart i {
  color: #cb4242;
}
.cart-content-left {
  flex: 2;
  padding-right: 12px;
}
.cart-content-left table {
  width: 100%;
  text-align: center;
}
.cart-content-left table th {
  padding-bottom: 30px;
  font-family: var(--main-text-font);
  font-size: 12px;
  text-transform: uppercase;
  color: #333;
  border-collapse: collapse;
  border-bottom: 2px solid #dddddd;
}
.cart-content-left table p {
  font-family: var(--main-text-font);
  font-size: 12px;
  color: #333;
}
.cart-content-left table input {
  width: 30px;
}
.cart-content-left table span {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  cursor: pointer;
}
.cart-content-left table td {
  padding: 20px 0;
  border-bottom: 2px solid #fff;
}
.cart-content-left td:first-child img {
  width: 130px;
}
.cart-content-left td:nth-child(2) {
  max-width: 130px;
}
.cart-content-left td:nth-child(3) img {
  width: 30px;
}
.cart-content-right {
  flex: 1;
  padding-left: 12px;
  border-left: 2px solid #dddddd;
}
.cart-content-right table {
  width: 100%;
}
.cart-content-right table th {
  padding-bottom: 30px;
  font-family: var(--main-text-font);
  font-size: 12px;
  color: #333;
  border-collapse: collapse;
  border-bottom: 2px solid #dddddd;
}
.cart-content-right table td {
  font-family: var(--main-text-font);
  font-size: 12px;
  color: #333;
  padding: 6px 0;
}
.cart-content-right tr:nth-child(4) td {
  border-bottom: 2px solid #dddddd;
}
.cart-content-right tr td:last-child {
  text-align: right;
}
.cart-content-right-text {
  margin: 20px 0;
  text-align: center;
}
.cart-content-right-text p {
  font-family: var(--main-text-font);
  font-size: 12px;
  color: #333;
}
.cart-content-right-button {
  text-align: center;
  align-items: center;
}
.cart-content-right-button button {
  padding: 0 18px;
  height: 35px;
  cursor: pointer;
}
.cart-content-right-button button:first-child {
  background-color: #dddddd;
  border: 1px solid #000000;
  margin-right: 20px;
}
.cart-content-right-button button:first-child:hover {
  background-color: #dddddd;
}
.cart-content-right-button button:first-child {
  background-color: #000000;
  color: #fff;
  border: none;
  border: 1px solid #000000;
}
.cart-content-right-button button:first-child:hover {
  background-color: #b15982;
  color: #333;
}
.cart-content-right-dangnhap {
  margin-top: 20px;
}
.cart-content-right-dangnhap p {
  font-family: var(--main-text-font);
  font-size: 12px;
  color: #333;
  font-weight: bold;
}

/* ----------------------------------delivery----------------------------------- */

.delivery {
  padding: 100px 0;
  margin-left: 40px;
}
.delivery-top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery-top {
  height: 2px;
  width: 70%;
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 100px;
}
.delivery-top-item {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: #ffff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery-top-item i {
  color: #ddd;
}
.delivery-top-adress {
  border: 1px solid #5b1dd7;
}
.delivery-top-adress i {
  color: #5b1dd7;
}
.delivery-content-left p {
  font-family: var(--main-text-font);
  font-size: 12px;
  font-weight: bold;
  /* align-items: 12px; */
}
.delivery-content-left {
  width: 60%;
  padding-right: 12px;
}
.delivery-content-left label {
  font-family: var(--main-text-font);
  font-size: 12px;
  margin-bottom: 6px;
  display: block;
}

.delivery-content-left > p {
  font-weight: bold;
}
.delivery-content-left-dangnhap {
  margin-top: 12px;
}
.delivery-content-left-dangnhap i {
  font-size: 12px;
  margin-right: 12px;
}
.delivery-content-left-khachle {
  margin: 12px 0;
}
.delivery-content-left-khachle input {
  margin-right: 12px;
}
.delivery-content-left-dangky {
  margin-bottom: 30px;
}
.delivery-content-left-dangky input {
  margin-right: 12px;
}
.delivery-content-left-input-top {
  justify-content: space-between;
}

.delivery-content-left-input-top-item {
  width: calc(50% - 12px);
}
.delivery-content-left-input-top-item input {
  width: 100%;
  height: 35px;
  border: 1px solid #bf8a49;
  padding-left: 6px;
}
.delivery-content-left-input-bottom input {
  width: 100%;
  height: 35px;
  border: 1px solid #dddd;
  padding-left: 6px;
}
.delivery-content-left-buttom p {
  display: inline-block;
  font-family: var(--main-text-font);
  font-size: 12px;
}
.delivery-content-left-buttom span {
  margin-right: 12px;
}
.delivery-content-left-buttom {
  justify-content: space-between;
  padding-top: 20px;
}
.delivery-content-left-buttom button {
  height: 35px;
  border: 2px solid #5b1dd7;
  padding-left: 6px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.delivery-content-left-buttom button:hover {
  background-color: #000000;
  color: floralwhite;
}
.delivery-content-right {
  width: 40%;
  padding-left: 12px;
  border-left: 2px solid #dddddd;
  height: auto;
}
.delivery-content-right table {
  width: 100%;
  font-family: var(--main-text-font);
  font-size: 12px;
  text-align: center;
}
.delivery-content-right table tr th:first-child {
  text-align: left;
}

.delivery-content-right table tr th {
  padding-bottom: 12px;
  border-bottom: 2px solid #dddddd;
}
.delivery-content-right table tr th:last-child {
  text-align: right;
}
.delivery-content-right table tr:nth-child(4) {
  border-top: 2px solid #ddd;
}
.delivery-content-right table tr td:last-child {
  text-align: right;
}
.delivery-content-right table tr td:first-child {
  text-align: left;
}
